@{
    ViewBag.Title = "Главная";
}

    <div class="jumbotron" >
        <h1 style="white-space:normal">Decryptor.NET</h1>
        <p class="lead">Decryptor.Net - мощный многофункциональный и совершенно бесплатный инструмент, который позволит вам
        с лёгкостью применять шифрование Виженера к любым вашим текстам</p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Шифровка текста</h2>
        <p>
            Decryptor.Net предоставляет возможность гибкого шифрования текста с возможностью указания алфавита и ключа шифрования.
            Не забывайте указанные параметры файла для успешной дешифровки
        </p>
        <p>@Html.ActionLink("Попробовать", "Encrypt", "Process")</p>
    </div>
    <div class="col-md-4">
        <h2>Дешифровка текстов</h2>
        <p>В ваших руках простой и гибкий инструмент для дешифровки файлов, закодированных алгоритмом Виженера. При условии что вам известен ключ, само-собой.</p>
        <p>@Html.ActionLink("Попробовать", "Decrypt", "Process")</p>
    </div>
    <div class="col-md-4">
        <h2>Обработка файлов</h2>
        <p>В сети нет приложения позволяющего вам с большей лёгкостью осуществлять обработку текстовых файлов форматов .docx и .txt
        чем Decryptor.Net. Пусть пользование данным приложением будет для вас удобным и приятным!!</p>
    </div>
</div>